{% extends "base.html.twig" %}

{% block title %} Welcome to side IT test {% endblock %}
{% block body %}
    <div class="jumbotron">
        <h1 class="display-6">Aplicacion Web para carga de Tareas</h1>
        <p>
            Esta aplicación permite listar, cargar, editar y eliminar tareas. <br>
            También se puede buscar un término ingresado en el campo "nombre" y "cliente". <br> <br>
            El formulario para crear una tarea posee un campo "categoria" y un campo "cliente" que se completa desde otras tablas de la base de datos.
        </p>
        <hr class="my-4">
        <p>Symfony 3, Bootstrap, MySQL</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{path('listTask')}}" role="button">Ir al listado de tareas!</a>
        </p>
    </div>
{% endblock %}