{% extends "base.html.twig" %}

{% block title %} Welcome to side IT test {% endblock %}
{% block body %}
    <div class="jumbotron">
        <h1 class="display-6">Aplicacion Web para carga de Tareas</h1>
        <p>
            Con esta aplicación se puede listar, cargar, editar y eliminar tareas. <br>
            También posee función de busqueda que busca el término ingresado en el campo nombre y cliente <br> <br>
            Al momento de crear una tarea el formulario correspondiente posee un campo "categoria" y un campo "cliente" que se completa desde otras tablas de la base de datos.
        </p>
        <hr class="my-4">
        <p>Symfony 3, Bootstrap, MySQL</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{path('listTask')}}" role="button">Ir al listado de tareas!</a>
        </p>
    </div>
{% endblock %}